/* img{
    width: 1310px;
    height: 680px
} */
.carousel-inner > .carousel-item > img{
    height: 660px;
    margin: auto !important;
    width: 70vw !important;
}
/* .carousel-inner > .carousel-item{
    width: 1300px;
} */

/* .carousel-inner{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.Overall-Container{
    display: flex;
}
.spacer{
    width: 15vw;
}